<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
     <!--<span class="fs-4">Sidebar</span>--> 
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" >
      <li class="nav-item" *ngFor="let menuItems of menu" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}">
        <!-- <a href={{menuItems.url}} class="nav-link " aria-current="page" [ngClass]="{'activeButton': menuItems.active, 'desactiveButton': !menuItems.active}"
         (click)="sumitMenu(menuItems)">
        [ngClass]="{'activeButton': menuItems.active, 'desactiveButton': !menuItems.active}"
    -->
         <a  class="nav-link " routerLink={{menuItems.url}}   (click)="sumitMenu(menuItems)">

          {{menuItems.name}}
        </a>
      </li>
    </ul>
    <hr>
</div>
